.versao-app {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0.9rem;
    color: #777777;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 999;
}

.card-img-top {
           height: 300px;
           object-fit: cover;
       }
       .collapsible {
           cursor: pointer;
           padding: 10px;
           width: 100%;
           text-align: left;
           border: none;
           outline: none;
           background-color: #007bff;
           color: white;
           margin-bottom: 5px;
           font-size: 18px;
           border-radius: 5px;
       }
       .content {
           display: none;
           overflow: hidden;
           margin-bottom: 20px;
       }
       .sub-collapsible {
           cursor: pointer;
           padding: 8px;
           width: 100%;
           text-align: left;
           border: none;
           outline: none;
           background-color: #6c757d;
           color: white;
           margin-top: 10px;
           font-size: 16px;
           border-radius: 5px;
       }
       .sub-content {
           display: none;
           overflow: hidden;
           margin-top: 10px;
       }